 



<div class="modal-dialog modal-lg">
      <div class="modal-content">
       
     <button type="button" class="close" data-dismiss="modal">&times;</button>    
    <input type="text" id="Skills"  size="35" placeholder="Search Skills">
    <input type="text"  id="Location"  size="25" placeholder="Enter Location City/State">
    
   <button class="btn btn-default dropdown-toggle" type="button"  style =" line-height: 1" data-toggle="dropdown">Availability
    <span class="caret"></span></button>
    <ul class="dropdown-menu-left">
      <li><a href="#">Immediate</a></li>
      <li><a href="#">1 week</a></li>
      <li><a href="#">2 week</a></li>
    </ul>
   
  <button type="submit" class="btn btn-primary" ng-click="$ctrl.ok()">Search</button>
    

   </div>
   
   </div>