

<div class="container" style="padding-top: 70px; padding-bottom: 100px; ">

     <img src ="images\image2.jpg" alt ="Homepage Pic" height ="500" width ="1200"/>
    <hr>
    <br>
    <h2><b>Fast and Easy way to hire IT consultants in 4 simple clicks.</b> 
        <br>             
        <br>
        <i> How it works :</i> </h2>
    <br>
 
    
        <button  class="btn btn-default btn-lg" ng-click="$ctrl.openSearchModal()">
        Step 1. : Search 
</button>
    
    &nbsp &nbsp;  &nbsp &nbsp;  
        <button type="button" class="btn btn-default btn-lg"> Step 2. : Select 
</button>
      
    &nbsp &nbsp;  &nbsp &nbsp;
    
 <button type="button" class="btn btn-default btn-lg"> Step 3. : Interview
</button>  
   &nbsp &nbsp;  &nbsp &nbsp;
    <button type="button" class="btn btn-default btn-lg"> Step 4. : Hire
</button>
    
 </div>